body, html {
    height: 100%;
}

body{
  margin: 0;
}
/* annoying bug with filters on body https://bugs.chromium.org/p/chromium/issues/detail?id=591015 */
.cont{
  display: flex;
  background: #9B68AB;
  height: 100%;
  animation: rotate-colors 12s ease-in-out infinite;
}

@keyframes rotate-colors { 
    100% {
        filter: hue-rotate(360deg);
    }
}
